In [50]:
#import pandas
import pandas as pd

#impoprt csv file
#this is a file of baseball player salaries
salaries = pd.read_csv\
('https://raw.githubusercontent.com/frankData612/data_612/master/baseballdatabank-master/core/Salaries.csv')

In [51]:
#print the dataset to see how it is formated
print(salaries)

       yearID teamID lgID   playerID    salary
0        1985    ATL   NL  barkele01    870000
1        1985    ATL   NL  bedrost01    550000
2        1985    ATL   NL  benedbr01    545000
3        1985    ATL   NL   campri01    633333
4        1985    ATL   NL  ceronri01    625000
...       ...    ...  ...        ...       ...
26423    2016    WAS   NL  strasst01  10400000
26424    2016    WAS   NL  taylomi02    524000
26425    2016    WAS   NL  treinbl01    524900
26426    2016    WAS   NL  werthja01  21733615
26427    2016    WAS   NL  zimmery01  14000000

[26428 rows x 5 columns]

In [52]:
#check for missing values by using numpy library
import numpy as np
print(np.count_nonzero(salaries.isnull()))

0

In [53]:
#check data types
print(salaries.dtypes)

yearID       int64
teamID      object
lgID        object
playerID    object
salary       int64
dtype: object

In [54]:
# convert salary (integer) from numeric value to category
salaries['yearID'] = salaries['yearID'].astype('category')
print(salaries.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26428 entries, 0 to 26427
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   yearID    26428 non-null  category
 1   teamID    26428 non-null  object
 2   lgID      26428 non-null  object
 3   playerID  26428 non-null  object
 4   salary    26428 non-null  int64
dtypes: category(1), int64(1), object(3)
memory usage: 853.1+ KB
None

In [55]:
#convert salary (now category) back to a numeric value
#but this time reducing the size of the dtype by using to_numeric AND downcast
salaries['yearID'] = pd.to_numeric(salaries['yearID'], downcast='integer')
print(salaries.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26428 entries, 0 to 26427
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   yearID    26428 non-null  int16
 1   teamID    26428 non-null  object
 2   lgID      26428 non-null  object
 3   playerID  26428 non-null  object
 4   salary    26428 non-null  int64
dtypes: int16(1), int64(1), object(3)
memory usage: 877.6+ KB
None

In [56]:
#convert salary from integer to string
salaries['salary'] = salaries['salary'].astype(str)
print(salaries.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26428 entries, 0 to 26427
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   yearID    26428 non-null  int16
 1   teamID    26428 non-null  object
 2   lgID      26428 non-null  object
 3   playerID  26428 non-null  object
 4   salary    26428 non-null  object
dtypes: int16(1), object(4)
memory usage: 877.6+ KB
None

In [57]:
#convert salary from string value back to a numeric value
#use to_numeric AND downcast again, to reduce the size of the dtype
salaries['salary'] = pd.to_numeric(salaries['salary'], downcast='integer')
print(salaries.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26428 entries, 0 to 26427
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   yearID    26428 non-null  int16
 1   teamID    26428 non-null  object
 2   lgID      26428 non-null  object
 3   playerID  26428 non-null  object
 4   salary    26428 non-null  int32
dtypes: int16(1), int32(1), object(3)
memory usage: 774.4+ KB
None

In [58]:
#convert lgID to from string to category
salaries['lgID'] = salaries['lgID'].astype('category')
print(salaries.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26428 entries, 0 to 26427
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   yearID    26428 non-null  int16
 1   teamID    26428 non-null  object
 2   lgID      26428 non-null  category
 3   playerID  26428 non-null  object
 4   salary    26428 non-null  int32
dtypes: category(1), int16(1), int32(1), object(2)
memory usage: 593.8+ KB
None

In [61]:
#convert teamID from string to category
salaries['teamID'] = salaries['teamID'].astype('category')
print(salaries.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26428 entries, 0 to 26427
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   yearID    26428 non-null  int16
 1   teamID    26428 non-null  category
 2   lgID      26428 non-null  category
 3   playerID  26428 non-null  object
 4   salary    26428 non-null  int32
dtypes: category(2), int16(1), int32(1), object(1)
memory usage: 414.5+ KB
None